@charset "UTF-8";
* {
  color: #444444;
  margin: 0;
  padding: 0;
  font-weight: 300;
  letter-spacing: 2px;
}
* h1 {
  font-weight: 300;
}

#nav {
  z-index: 9999;
}

.contents {
  width: 100%;
  padding-top: 13vh;
}

.mainNav {
  padding-top: 0;
  height: 10vh;
  position: fixed;
  background-color: #fff;
}
.mainNav li {
  position: relative;
  top: 60%;
  transform: translateY(-50%);
  height: 48px;
}
.mainNav li a {
  color: #444444;
  font-size: 1rem;
  margin: 1vw;
  margin-top: 0;
}
.mainNav li a:hover {
  color: #000000;
}
.mainNav #workMobile {
  display: none !important;
}
.mainNav #workMobile a {
  font-weight: 300;
  color: #444444;
  border-radius: 0;
  margin: 1vw;
  margin-top: 0;
}
.mainNav #workMobile .dropdown-menu {
  width: 210px;
}
.mainNav #workMobile .dropdown-menu .dropdown-item {
  font-size: 0.8rem;
  position: relative;
  top: 70%;
  transform: translateY(-50%);
  font-weight: 300;
}
.mainNav .active {
  border-bottom: 2px solid #D6D5D5;
}

.secNav {
  font-size: 1rem;
  padding-top: 12vh;
}
.secNav li {
  padding: 3%;
}
.secNav li:hover {
  cursor: pointer;
  color: #000000;
}
.secNav .active {
  font-weight: 500;
}
.secNav #workMobileTitle {
  display: none;
  font-size: 1rem;
  color: #444444;
  font-weight: 400;
  margin-top: 5%;
  padding: 2%;
}

#homeBanner {
  background-image: url("../images/home_banner.jpg");
  background-repeat: no-repeat;
  background-position: center 5vh;
  overflow-x: hidden;
  background-size: cover;
  color: #ffffff;
  height: 100vh;
  width: 100％;
}
#homeBanner h1 {
  position: relative;
  top: 20%;
  left: 10%;
  width: 80%;
  font-weight: 300;
  font-size: 2.3rem;
  color: #ffffff;
}
#homeBanner h1 .jpVersion {
  color: #ffffff;
  font-size: 1.5rem;
}
#homeBanner h1 .enVersion {
  color: #ffffff;
  padding-left: 30px;
  font-size: 1.5rem;
}
#homeBanner h2 {
  position: relative;
  top: 32%;
  left: 13%;
  line-height: 3vw;
  font-size: 1.5rem;
  color: #ffffff;
  width: 80%;
}
#homeBanner h2 span {
  color: #ffffff;
}
#homeBanner h2 .enVersion {
  position: relative;
  top: 1.5vh;
}
#homeBanner h2 a {
  position: relative;
  font-size: 0.8rem;
  top: 1.5vh;
  color: #ffffff;
}

#homeCards {
  margin-top: 5vh;
}
#homeCards a:hover {
  cursor: pointer;
}
#homeCards a:link {
  text-decoration: none;
}
#homeCards .card {
  width: 380px;
  overflow: hidden;
  position: relative;
  border-radius: 0;
  border: none;
  margin-bottom: 5vh;
}
#homeCards .card .card-img {
  overflow: hidden;
  border-radius: 0;
}
#homeCards .card .card-img .card-img-pic {
  width: 100%;
  position: relative;
}
#homeCards .card .card-name {
  padding: 2%;
  padding-top: 3%;
}
#homeCards .card .card-name h2 {
  font-size: 1rem;
  font-weight: 300;
}
#homeCards .moreWorks {
  width: 100%;
}

#aboutBanner {
  padding-top: 15vh;
  margin-bottom: 5vh;
}
#aboutBanner h1 {
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 2vh;
}
#aboutBanner .jpVersion, #aboutBanner .enVersion, #aboutBanner h2 {
  font-size: 1.5rem;
}
#aboutBanner h2 {
  line-height: 4vh;
}

.aboutCV .cvBox {
  margin-bottom: 3vh;
}
.aboutCV .cvBox h3 {
  border-left: 10px solid #444444;
  padding-left: 1.5vw;
  font-size: 1rem;
  font-weight: 400;
}
.aboutCV .cvBox p {
  padding-left: 1.5vw;
  font-size: 1rem;
  line-height: 3vh;
}

.workContent .guide {
  font-size: 0.8rem;
}
.workContent .guide a:link {
  text-decoration: none;
}
.workContent .projectTitle .workDetail1 {
  padding-top: 2%;
  line-height: 1vh;
}
.workContent .projectTitle p, .workContent .projectTitle h2 {
  font-size: 1rem;
}
.workContent .workImg img {
  width: 100%;
}
.workContent .workImg .workOtherImgs div {
  padding-top: 0.8%;
}
.workContent .workImg .workOtherImgs div:nth-child(1) {
  padding-right: 0.4%;
}
.workContent .workImg .workOtherImgs div:nth-child(2) {
  padding-left: 0.4%;
}
.workContent .workDetail2 {
  padding-top: 3%;
  line-height: 1vh;
  font-size: 1rem;
}

footer {
  margin-top: 5vh;
}
footer p {
  font-size: 0.8rem;
}

/*========= Mobile First Method ==========*/
@media (max-width: 767px) {
  * {
    letter-spacing: 1px;
  }

  .mainNav #workMobile {
    display: flex !important;
  }
  .mainNav #workWeb {
    display: none;
  }

  .secNav #workMobileTitle {
    display: inline;
  }
  .secNav li {
    display: none;
  }

  #homeBanner {
    background-image: url("../images/home_banner_2.jpg");
  }
  #homeBanner h1 {
    font-size: 1.5rem;
  }
  #homeBanner h1 .jpVersion, #homeBanner h1 .enVersion {
    font-size: 1rem;
  }
  #homeBanner h1 .enVersion {
    padding-left: 10px;
  }
  #homeBanner h2 {
    line-height: 8vh;
    top: 64%;
  }
  #homeBanner h2 span {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
  }
  #homeBanner h2 a {
    color: #ffffff;
  }

  #homeCards .card {
    width: 300px;
  }
  #homeCards .card .card-name h2 {
    font-size: 0.8rem;
  }

  #aboutBanner h1 {
    font-size: 1.5rem;
  }
  #aboutBanner .jpVersion, #aboutBanner .enVersion, #aboutBanner h2 {
    font-size: 0.8rem;
  }

  .aboutCV .cvBox h3 {
    border-left: 8px solid #444444;
    padding-left: 2vw;
    font-size: 1rem;
  }
  .aboutCV .cvBox p {
    padding-left: 4vw;
    font-size: 0.8rem;
    line-height: 3vh;
  }

  .workContent .guide {
    font-size: 0.7rem;
  }
  .workContent .projectTitle h2 {
    font-size: 0.8rem;
  }
  .workContent .projectTitle p {
    font-size: 0.7rem;
  }
  .workContent .projectTitle .workTitle h1 {
    font-size: 1.5rem;
  }
  .workContent .projectTitle .workTitle p {
    font-size: 0.8rem;
  }
  .workContent .workDetail2 {
    padding-top: 5%;
    line-height: 1vh;
    font-size: 0.7rem;
  }
}
@media (max-width: 1200px) {
  #homeBanner {
    background-image: url("../images/home_banner_2.jpg");
  }
  #homeBanner h2 {
    top: 64%;
    line-height: 5vw;
  }
}
@media (max-height: 380px) and (max-width: 900px) {
  #homeBanner h1 {
    top: 23%;
    font-size: 1.5rem;
  }
  #homeBanner h1 .jpVersion, #homeBanner h1 .enVersion {
    font-size: 1rem;
  }
  #homeBanner h2 {
    line-height: 6vh;
    top: 30%;
  }
  #homeBanner h2 span {
    font-size: 1rem;
    color: #444444;
    font-weight: 300;
  }
  #homeBanner h2 a {
    color: #444444;
  }

  .mainNav {
    height: 15vh;
  }
  .mainNav li {
    transform: translateY(-50%);
  }
  .mainNav li a {
    font-size: 0.8rem;
  }

  #aboutBanner h1 {
    font-size: 1.5rem;
  }
  #aboutBanner .jpVersion, #aboutBanner .enVersion, #aboutBanner h2 {
    font-size: 1rem;
  }
  #aboutBanner h2 {
    line-height: 8vh;
  }
}

/*# sourceMappingURL=style.css.map */
