$grayColor: #444444;
$lightGrayColor: #D6D5D5;
$blackColor: #000000;
$lgFontSize: 2.8vw;
$mediumFontSize:1.6vw;
$smallFontSize:1.3vw;
$xsFontSize:1vw;
$cardWidth: 300px;
$cardHeight: 250px;

*{
    color:$grayColor;
    margin:0;
    padding:0;
    font-weight: 300;
    letter-spacing: 2px;
    // border: 1px solid #000000;
}

.mainNav{
    height:10vh;
    position: fixed;
    background-color:#fff;
    li{
        position:relative;
        top:50%;
        transform: translateY(-20%);

        a{
            color: $grayColor;
            font-size: $smallFontSize;
            margin: 1vw;
            margin-top:0;
        }
        a:hover{
            color: $blackColor;
        }
    }
    .active{
        border-bottom: 2px solid $lightGrayColor;
    }
}
.secNav{
    position:relative;
    font-size: $xsFontSize;
    top:13vh;
    li{
        padding:1.2%;
    }
    li:hover{
        cursor: pointer;
        color: $blackColor;
    }
    .active{
        font-weight:500;
    }
}

#homeBanner{
    background-image: url('../images/home_banner.jpg');
    background-repeat: no-repeat;
    background-position: center 5vh;
    overflow-x: hidden;
    background-size: cover;
    height: 100vh;
    width: 100％;
    
    h1{
        position: relative;
        top:20%;
        left:10%;
        width:30%;
        font-size: $lgFontSize;
        .jpVersion {
            padding-left: 30px;
            font-size: $mediumFontSize;
        }
        .enVersion{
            font-size: $mediumFontSize;
        }
    }
    h2{
        position: relative;
        top:32%;
        left:13%;
        line-height: 5vh;
        font-size: $mediumFontSize;
        width:30%;
        .enVersion{
            position: relative;
            top: 1.5vh;
        }
        a{
            position: relative;
            font-size: $xsFontSize;
            top: 1.5vh;
            color: $grayColor;
        }
    }
}