$grayColor: #444444;
$lightGrayColor: #D6D5D5;
$whiteColor: #ffffff;
$blackColor: #000000;
$bg_color: blueviolet;
$mainColor: $grayColor;
$lgFontSize: 2.3rem;
$mediumFontSize:1.5rem;
$smallFontSize:1rem;
$xsFontSize:.8rem;
$cardWidthLg: 380px;
$cardHeightLg: 300px;
$cardWidthSm: 300px;
$cardHeightSm: 300px;

    

*{
    color:$grayColor;
    margin:0;
    padding:0;
    font-weight: 300;
    letter-spacing: 2px;
    h1{
        font-weight: 300;
    }
    // border: 1px solid #000000;
}

#nav {
    z-index: 9999;
}

.contents{
    width:100%;
    padding-top: 12vh
}

.mainNav{
    height:10vh;
    position: fixed;
    background-color:#fff;
    li{
        position:relative;
        top:60%;
        transform: translateY(-40%);

        a{
            color: $grayColor;
            font-size: $smallFontSize;
            margin: 1vw;
            margin-top:0;
        }
        a:hover{
            color: $blackColor;
        }
    }
    .active{
        border-bottom: 2px solid $lightGrayColor;
    }
}
.secNav{
    font-size: $smallFontSize;
    padding-top:12vh;
    li{
        padding:3%;
    }
    li:hover{
        cursor: pointer;
        color: $blackColor;
    }
    .active{
        font-weight:500;
    }
}

#homeBanner{
    background-image: url('../images/home_banner.jpg');
    background-repeat: no-repeat;
    background-position: center 5vh;
    overflow-x: hidden;
    background-size: cover;
    color: $whiteColor;
    height: 100vh;
    width: 100％;
    h1{
        position: relative;
        top:20%;
        left:10%;
        width:80%;
        font-weight: 300;
        font-size: $lgFontSize;
        color: $whiteColor;
        .jpVersion {
            color: $whiteColor;
            font-size: $mediumFontSize;
        }
        .enVersion{
            color: $whiteColor;
            padding-left: 30px;
            font-size: $mediumFontSize;
        }
    }
    h2{
        position: relative;
        top:32%;
        left:13%;
        line-height: 3vw;
        font-size: $mediumFontSize;
        color: $whiteColor;
        width:80%;
        span{
            color: $whiteColor;
        }
        .enVersion{
            position: relative;
            top: 1.5vh;
        }
        a{
            position: relative;
            font-size: $xsFontSize;
            top: 1.5vh;
            color: $whiteColor;
        }
    }
}
#homeCards {
    margin-top:5vh;
    a:hover{
        cursor: pointer;
    }
    a:link{
        text-decoration: none;
    }
    .card{
        width: $cardWidthLg;
        // height: $cardHeightLg;
        overflow: hidden;
        position: relative;
        border-radius:0;
        border: none;
        margin-bottom:5vh;
        .card-img{
            overflow: hidden;
            // height: 100%;
            border-radius:0;
            .card-img-pic{
                width: 100%;
                position: relative;
                // top: -10%
            }
        }
    
        .card-name{
            padding: 2%;
            padding-top:3%;
            h2{
                font-size: $smallFontSize;
                font-weight: 300;
            }
        }
    
    }
    .moreWorks{
        width:100%;
    }
}

#aboutBanner{
    padding-top:15vh;
    margin-bottom:5vh;
    h1{
        font-size: $lgFontSize;
        font-weight: 300;
        margin-bottom:2vh;
        // .contact{
        //     margin-top:4vh;
        //     font-size:$smallFontSize;
        // }
    }
    .jpVersion, .enVersion, h2{
        font-size: $mediumFontSize;
    }

    h2{
        line-height:4vh;
    }
}

.aboutCV{
    .cvBox{
        margin-bottom: 3vh;
        h3{
            border-left:10px solid $grayColor;
            padding-left: 1.5vw;
            font-size: $smallFontSize;
            font-weight: 400;
        }
        p{
            padding-left: 1.5vw;
            font-size: $smallFontSize;
            line-height:3vh;
        }
    }
}
.workContent{
    p{
        font-size: $xsFontSize;
        a:link{
            text-decoration: none;
        }
    }
    .projectTitle{
        .workDetail1{
            padding-top:2%;
            line-height:2vh;
        }
    }
    .workImg{
        img{
            width: 100%;
        }
        .workOtherImgs{
            div{
                padding-top:2%;
            }
            div:nth-child(1){
                padding-right: 1%;
            }
            div:nth-child(2){
                padding-left: 1%;
            }
        }
    }
    .workDetail2{
        padding-top:3%;
        line-height:1vh;
        font-size: $smallFontSize;
    }
}


footer{
    margin-top:5vh;
    p{
        font-size: $xsFontSize;
    }
}

/*========= Mobile First Method ==========*/
@media (max-width : 767px) {
    *{
        letter-spacing: 1px;
    }
    #homeBanner{
        background-image: url('../images/home_banner_2.jpg');
        h1{
            font-size: $mediumFontSize;
            .jpVersion, .enVersion{
                font-size: $smallFontSize;
            }
            .enVersion {
                padding-left: 10px;
            }
        }
        h2{
            line-height: 8vh;
            top:64%;
            span{
                font-size: $smallFontSize;
                color:$whiteColor;
                font-weight:400;
            }
            a{
                color: $whiteColor;
            }
        }
    }
    #homeCards{
        .card{
            width: $cardWidthSm;
            // height: $cardHeightSm;
            .card-name{
                h2{
                 font-size: $xsFontSize;
                }
            }
        }
    }
    #aboutBanner{
        h1{
            font-size: $mediumFontSize;
        }
        .jpVersion, .enVersion, h2{
            font-size: $xsFontSize;
        }
    }
    .aboutCV{
        .cvBox{
            h3{
                border-left:8px solid $grayColor;
                padding-left: 2vw;
                font-size: $smallFontSize;
            }
            p{
                padding-left: 4vw;
                font-size: $xsFontSize;
                line-height:3vh;
            }
        }
    }
    .workContent{
        .projectTitle{
            .workTitle{
                h1{
                    font-size: $mediumFontSize;
                }
                p{
                    font-size: $xsFontSize;
                }
            }
            .workDetail1{
                line-height:1vh;
                font-size: $xsFontSize;
            }
        }
        .workImg{
            img{
                width: 100%;
            }
            .workOtherImgs{
                div{
                    padding-top:2%;
                }
                div:nth-child(1){
                    padding-right: 1%;
                }
                div:nth-child(2){
                    padding-left: 1%;
                }
            }
        }
        .workDetail2{
            padding-top:3%;
            line-height:1vh;
            font-size: $xsFontSize;
        }
    }
}
@media (max-width : 1200px) {
    #homeBanner{
        background-image: url('../images/home_banner_2.jpg');
        h2{
            top:64%;
            line-height: 5vw;
        }
    }
}
@media (max-height: 380px) and (max-width : 900px){
    #homeBanner{
        h1{
            top:23%;
            font-size: $mediumFontSize;
            .jpVersion, .enVersion{
                font-size: $smallFontSize;
            }
        }
        h2{
            line-height: 6vh;
            top:30%;
            span{
                font-size: $smallFontSize;
                color: $mainColor;
                font-weight:300;
            }
            a{
                color: $mainColor;
            }
        }
    }
    .mainNav{
        height:15vh;
        li{
            transform: translateY(-50%);
            a{
                font-size: $xsFontSize;
            }
        }
    }
    #aboutBanner{
        h1{
            font-size: $mediumFontSize;
        }
        .jpVersion, .enVersion, h2{
            font-size: $smallFontSize;
        }
        h2{
            line-height:8vh;
        }
    }
}